ECMA-376/OpenPackagingConventions-RELAXNG/opc-digSig.rnc

default namespace =
  "http://schemas.openxmlformats.org/package/2006/digital-signature"
namespace ds = "http://www.w3.org/2000/09/xmldsig#"

include "xmldsig-core-schema.rnc" {

SignaturePropertyType =
  SignatureTime,
  attribute Id { xsd:ID }?,
  attribute Target { xsd:anyURI }

TransformType =
  element ds:XPath { xsd:string }?,
  (RelationshipReference | RelationshipsGroupReference)*,
  attribute Algorithm { xsd:anyURI }
}

SignatureTime = element SignatureTime { CT_SignatureTime }
RelationshipReference =
  element RelationshipReference { CT_RelationshipReference }
RelationshipsGroupReference =
  element RelationshipsGroupReference { CT_RelationshipsGroupReference }
CT_SignatureTime =
  element Format { ST_Format },
  element Value { ST_Value }
CT_RelationshipReference =
  xsd:string,
  attribute SourceId { xsd:string }
CT_RelationshipsGroupReference =
  xsd:string,
  attribute SourceType { xsd:anyURI }
ST_Format =
  xsd:string {
    pattern =
      "(YYYY)|(YYYY-MM)|(YYYY-MM-DD)|(YYYY-MM-DDThh:mmTZD)|(YYYY-MM-DDThh:mm:ssTZD)|(YYYY-MM-DDThh:mm:ss.sTZD)"
  }
ST_Value =
  xsd:string {
    pattern =
      "(([0-9][0-9][0-9][0-9]))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2))))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1))))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))|(([0-9][0-9][0-9][0-9])-((0[1-9])|(1(0|1|2)))-((0[1-9])|(1[0-9])|(2[0-9])|(3(0|1)))T((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])):(((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9]))\.[0-9])(((\+|-)((0[0-9])|(1[0-9])|(2(0|1|2|3))):((0[0-9])|(1[0-9])|(2[0-9])|(3[0-9])|(4[0-9])|(5[0-9])))|Z))"
  }
